.App {
  text-align: center;
  height: 92vh;
  position: relative;
}

.float-button {
  position: absolute !important;
  bottom: 150px;
  right: 88px;
}


.body {
  display: flex;
  height: 100%;
}

.float-right{
  float: right;
}