.App {
  text-align: center;
  height: 99vh;
  position: relative;
}

.float-button {
  position: absolute !important;
  bottom: 23vh;
  right: 88px;
}


.body {
  display: flex;
  height: 100%;
}

.float-right {
  float: right;
}

.header-app {
  height: 10vh;
}

.body-app {
  height: 89.5vh;
  width: 100%;
  display: flex;
}

.bg-warning {
  color: var(--primary-color-text) !important;
  background-color: var(--red-100) !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.invalid {
  border-color: red !important;
}

.loading {
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}