.App {
  text-align: center;
  height: 99vh;
  position: relative;
}

.float-button {
  position: absolute !important;
  bottom: 23vh;
  right: 88px;
}


.body {
  display: flex;
  height: 100%;
}

.float-right {
  float: right;
}

.header-app {
  height: 10vh;
}

.body-app {
  height: 89.5vh;
  width: 100%;
  display: flex;
}

.bg-danger {
  color: #ffffff !important;
  background: #ef4444 !important;
  border: 1px solid #ef4444 !important;
}

.bg-success {
  color: #ffffff !important;
  background: #22c55e !important;
  border: 1px solid #22c55e !important;
}

.bg-warning {
  color: #ffffff !important;
  background: #f97316 !important;
  border: 1px solid #22c55e !important;
}

.bg-info {
  color: #ffffff !important;
  background: #0ea5e9 !important;
  border: 1px solid #0ea5e9 !important;
}

.bg-help {
  color: #ffffff !important;
  background: #a855f7 !important;
  border: 1px solid #a855f7 !important;
}

.border-danger {
  border: 1px solid #ef4444 !important;
}

.border-success {
  border: 1px solid #22c55e !important;
}

.border-warning {
  border: 1px solid #f97316 !important;
}

.border-info {
  border: 1px solid #0ea5e9 !important;
}

.border-help {
  border: 1px solid #a855f7 !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.invalid {
  border-color: red !important;
}

.p-dropdown-label {
  white-space: normal !important;
}

.p-datatable .p-datatable-tbody>tr>td {
  white-space: normal !important;
}

.p-inputnumber .p-inputtext {
  max-width: 100px !important;
}

.p-input-icon-left > i {
  margin-left: 1.5rem;
}

.p-input-icon-left > input {
  padding-left: 3.5rem;
}

