.p-dock .p-dock-list {
    background: rgb(241 0 0 / 10%) !important;
}

.dock-demo .dock-window {
    position: unset !important;
    height: auto !important;
}

@media (max-width: 768px) {
    .p-dock .p-dock-list, .dock-demo .dock-window {
        display: none !important;
    }
}